@charset "utf-8";
/* CSS Document */

body {
	background-image:url(background.jpg);
	background-repeat:repeat-x;
}

.container {
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
	background-color:#C3D1FD;
	border: 2px solid #006;
	margin-top:5em;
	min-height:370px;
}

h1 {
	font-family:"Myriad Pro", Tahoma;
	font-size:2.5em;
	font-weight:bold;
	text-align:center;
}

h3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1.3em;
	font-weight:normal;
}

h4 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	font-weight:normal;
}

.left {
	float:left;
	width:35%;
	/*padding-left:2em;*/
	padding-top:6em;
	text-align:center;
}
.right {
	float:right;
	width:60%;
	padding-right:0.5em;
	text-align:center;
}