@charset "utf-8";
/* CSS Document */

/** THIS DOCUMENT MUST BE USED ONLY FOR STYLING **/
/** FOR THE HEADERS AND MAIN LAYOUT OF EACH PAGE **/

*{
	margin: 0;
	padding: 0;
}

body {
	background-image:url(../images/background.jpg);
	background-repeat:repeat-x;
}

.container {
	max-width:70%;
	margin-left:auto;
	margin-right:auto;
}

.banner {
	background-image:url(../images/banner.png);
	background-repeat:repeat-x;
	height:89px;
	min-width:700px;
	vertical-align:top;
}

.logo {
	float:left;
	max-height:100%;
	max-width:100%;
	padding-top:0.3em;
}

.header_text {
	float:left;
	margin-left:0.5em;
	text-align:left;
}

.header_text h1 {
	font-family:Myriad Pro, Tahoma, Geneva, sans-serif;
	font-size:2.4em;
	font-weight:bold;
	color:#FFF;
}

.header_text h3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1.4em;
	font-weight:bold;
	color:#FFF;
}

.main_container {
	width:100%;
	min-width:700px;
}

.left_bg {
	float:left;
	width:17%;
	background-color:#ECF2FE;
	border:1px solid #000;
	min-height:400px;
}

.right_bg {
	float:right;
	width:82%;
	background-color:#C3D1FD;
	border:1px solid #000;
	min-height:400px;
}

.left {
	max-width:100%;
	padding: 0.4em 0.4em 0.4em 0.4em;
}

.right {
	max-width:100%;
	padding: 0.4em 0.4em 0.4em 0.4em;
}

.footer {
	background-color:#06F;
	border:1px solid #000;
	height:50px;
	margin-top:0.4em;
	padding-left:1em;
	padding-right:1em;
	min-width:700px;
}

.footer_left {
	float:left;
	max-width:50%;
	text-align:left;
	font-size:0.7em;
	padding-top:1.5em;
	font-family:Tahoma, Geneva, sans-serif;
}

.footer_right {
	float:right;
	max-width:50%;
	text-align:right;
	font-size:0.7em;
	padding-top:1.5em;
	font-family:Tahoma, Geneva, sans-serif;
}
